@import "../../../../../styles.scss";
@import "../../../../../mixins.scss";

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 64rem;
  height: 100%;
  padding: 1.5rem 1.5rem 1.5rem 2.875rem;

  ul {
    margin: 0;
    padding-inline-start: 1rem;
    > li {
      margin-top: 0.325rem;
    }
  }
  ul > ul {
    padding-inline-start: 1.25rem;
    > li {
      margin-top: 0;
    }
  }

  .admin-div {
    @include flex(flex-start, center);
    gap: 1rem;
    button {
      @include buttonFull;
    }
  }
}
