<main>
  @if(userService.currentUserID === adminBotID) {
  <div class="admin-div">
    <button (click)="addUsers()">Add User</button>
    <button (click)="injectFrontEndMessages()">inject Frontend Messages</button>
    <button (click)="injectBackEndMessages()">inject Backend Messages</button>
  </div>
  }
  <h2>Willkommen bei MyBubble!</h2>
  <p>
    MyBubble ist deine neue Kommunikationsplattform und verbindet dich einfach
    und intuitiv mit deiner Community.
    <br />Ob im Team oder privat: Mit Channels und Direktnachrichten bleibst du
    immer auf dem Laufenden.
    <br />
    Wir freuen uns, dich an Bord zu haben!
  </p>

  <article>
    <h3>Das bietet dir MyBubble:</h3>
    <ul>
      <li>
        <strong>Channels erstellen und organisieren:</strong>
        <br />Erstelle Channels für Teams, Projekte oder Themen und halte alle
        auf dem neuesten Stand.
      </li>
      <li>
        <strong>Direktnachrichten:</strong>
        <br />Kommuniziere privat und diskret mit Kollegen oder Freunden.
      </li>
      <li>
        <strong>Emoji-Reaktionen und erweiterte Formatierung:</strong>
        <br />Reagiere mit Emojis und gestalte deine Nachrichten individuell,
        z.B. mit:
      </li>
      <ul>
        <li><b>Fettschrift</b> für wichtige Infos</li>
        <li><i>Kursivschrift</i> zur Betonung</li>
        <li>
          <u>Unterstrichenem</u> oder <s>Durchgestrichenem</s> für zusätzliche
          Klarheit
        </li>
        <li>Überschriften (H1, H2, H3) für Struktur</li>
        <li>Listen für Übersichtlichkeit</li>
        <li>
          Undo/Redo, um Änderungen rückgängig zu machen oder wiederherzustellen.
        </li>
      </ul>
      <li>
        <strong>Suchfunktion:</strong>
        <br />Finde schnell Nachrichten, Channels oder Kontakte.
      </li>
      <li>
        <strong>Anhängen von Dateien:</strong>
        <br />Teile deine Ideen in Form von Bildern und PDF.
      </li>
    </ul>
  </article>

  <article>
    <h3>Technologie hinter MyBubble</h3>
    <p>
      Unsere Plattform basiert auf Angular (Version 17) und nutzt Firebase für
      eine stabile und sichere Datenverwaltung. Die Kombination aus Angular und
      TypeScript ermöglicht eine benutzerfreundliche und leistungsstarke
      Anwendung. Firebase sorgt für schnelle Authentifizierung und
      Datenspeicherung, sodass deine Informationen jederzeit geschützt sind.
    </p>
    <br />
    <h3>Neue und erweiterte Funktionen</h3>
    <ul>
      <li>
        <strong>Benachrichtigungen bei neuen Nachrichten:</strong>
        <br />Gibt es etwas Neues in einem deiner Chats oder Channels siehst du
        es sofort im Workspace-Menü.
      </li>
      <li>
        <strong>Erweiterte Emojis:</strong>
        <br />Wähle aus einer großen Emoji-Bibliothek, um deine Message
        persönlich und ganz nach deinem Geschmack zu gestalten.
      </li>
      <li>
        <strong>Clevere, leistungsstarke Suche:</strong>
        <br />
        Finde Nachrichten, Channels oder Mitglieder schnell und effizient –
        global oder kontextbasiert, sortiert nach Relevanz.
      </li>
    </ul>
  </article>

  <article>
    <h3>MyBubble bietet dir mehr</h3>
    <p>
      <strong>MyBubble</strong> ist nicht nur funktional, sondern auch
      durchdacht in Design und Benutzerfreundlichkeit. Besonderer Wert wurde auf
      Responsiveness gelegt, damit du MyBubble nahtlos auf jedem Gerät nutzen
      kannst. Die optimierte Code-Struktur sorgt für eine performante
      Nutzererfahrung, stabil und konsistent.
    </p>
  </article>
  <strong>Viel Freude beim Erkunden von MyBubble!</strong>
  <br />
</main>
